/* Slidebar */
body {
    margin: 0;
    font-family: Arial;
}

.app {
    display: flex;
}

.sidebar {
    width: 220px;
    background: #2c3e50;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar a:hover {
    background: #34495e;
}

main {
    flex: 1;
    padding: 20px;
}
